*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    line-height:1.8;
  }
  
  body{
    font-family:Arial, sans-serif;
    background-color:aliceblue;
  }
  
  main{
    justify-content:center;
    display:flex;
    padding-top:60px;
  }
  
  
  header{
    display:flex;
    width:100%;
    position:fixed;
    align-items:center;
    background-color:aliceblue;
    color:white;
  }
  
  #logo{
    flex-shrink:0;
    padding-right:10px;
    padding-left:10px;
  
  }
  
  #header-img{
    height:40px;
    width:auto;
  
  }
  
  #nav-bar{
    margin-left:auto;
    display:flex;
  }
  
  
  .nav-link{
    text-decoration:none;
    margin-left:20px;
    color:blue;
  }
  
  
  #form {
    justify-content: center;
    margin: auto;
    padding: 20px;
    padding-bottom: 20px;
    font-size:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  
  #email {
    border:2px solid #f7aa00;
    font-size:15px;
    color:black;
    margin-bottom:20px;
    width:100%;
    max-width:300px;
    text-align: center;
  }
  
  #Services {
    margin:auto;
    padding:10px;
    font-size: 20px;
    border:2px solid #000;
    border-radius:6px;
    background-color: aliceblue;
    box-shadow: 2px 2px 12px;
    margin:20px;
  }

  #video {
    display:flex;
    padding: 30px;
    margin:auto;
    content:allowfullscreen;
    border: 2px solid #000;
    border-radius: 6px;
    
  }
  
  .website{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  .ecommerce{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  .web{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  .CMS{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  #Prices{
    margin:auto;
    padding:10px;
    font-size: 20px;
    border:2px solid #000;
    border-radius:6px;
    background-color: aliceblue;
    box-shadow: 2px 2px 12px;
    margin:20px;
  }

  .web-price{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  .app-price{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;

  }

  .ecommerce-price{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  .CMS-price{
    border:2px solid #000;
    padding:20px;
    margin:20px;
    border-radius:6px;
    background-color:aliceblue;
    box-shadow: 2px 2px 12px;
  }

  #Contact{
    margin:20px;
    padding:10px;
    font-size: 20px;
    border:2px solid #000;
    border-radius:6px;
    background-color: aliceblue;
    box-shadow: 2px 2px 12px;
    align-items: center;
    justify-content: center;
  }

  p{
    text-align: center;
  }

  #submit{
    color:black;
    font-size:15px;
    background:#f7aa00;
    border:2px solid #f7aa00;
    border-radius:8px;
    padding:10px 20px;
    transition: border-color 0.3s;
    cursor: pointer;
  }

  #submit-1{
    color:black;
    font-size: 15px;
    background:#f7aa00;
    border:2px solid #f7aa00;
    border-radius:8px;
    padding:10px 20px;
    transition: border-color 0.3s;
    cursor:pointer;
    
  }

  .email-label{
    justify-content: center;
    text-align: center;
  }
  h1{
    text-align: center;
    font-size: 18px;

  }

 .icons{
    
    text-align: center;
    justify-content: center;
 }
  
  @media(max-width:600px){
    #nav-bar{
      width: 100%;
  }
  }